{%  extends "layout.njk"  %}


{% block head %}
    <title>Challenge 3-1</title>
{% endblock head %}


{% block content%}
    <main>
        <p>Página Principal renderizada com Nunjucks</p>
    </main>

{% endblock content%}