{% extends "layout.njk" %}

{% block head %}
<title>Sorry, we din't found your request ; (</title>
{% endblock head %}

{% block content%}
    <main>
        <p>Página não encontrada!</p>
    </main>
    
{%endblock%}