{% extends "layout.njk" %}

{% block content %}
    <main>
        <div class="card">
            <div class="image">
            </div>
            <div class="details">
                <h2>Detalhes</h2>
                <div class="item">
                    <div>Nome Completo</div>
                    <div>Bruno Thomaz dos Santos</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>30</div>
                </div>
                <div class="item">
                    <div>Grau de Escolaridade</div>
                    <div>Superior</div>
                </div>
                <div class="item">
                    <div>Tipo de Aula</div>
                        <span>Presencial</span>
                        <span>EAD</span>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                        <span>Matemática</span>
                        <span>Física</span>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>29/06/2020</div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
