{% extends "layout.njk" %}


{
      "avatar_url": "https://source.unsplash.com/collection/3465564/500x500",
      "name": "Bruno Thomaz",
      "nascimento": 1557273600000,
      "escolaridade": "superior",
      "aula": "presencial",
      "atuacao": "Matemática, física",
      "createdAt": 1593471522330,
      "id": 1
    }


{% block content %}
    <main>
        <div class="card">
            <div class="image" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover">
            </div>
            <div class="details">
                <h2>Detalhes</h2>
                <div class="item">
                    <div>Nome Completo</div>
                    <div>{{teacher.name}}</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>{{teacher.idade}} </div>
                </div>
                <div class="item">
                    <div>Grau de Escolaridade</div>
                    <div>{{teacher.escolaridade}}</div>
                </div>
                <div class="item">
                    <div>Tipo de Aula</div>
                        <div>{{teacher.aula}}</div>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                    {% for area in teacher.atuacao %}
                        <div>{{area}} </div>
                    {% endfor %}
                        
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>{{teacher.createdAt}}</div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
