{% extends 'layout.njk' %}

{% block content %}


<section id="banner">
    <h2>As melhores receitas</h2>
    <p>Aprenda a construir os melhores pratos com
        receitas criadas por profissionais do mundo inteiro.
    </p>
    <img src="/assets/chef.png" alt="">
</section>


<section id="receitas">
    <h3>Mais acessadas</h3>
    <div class="cards">

    {% for item in data %}
            <div class="card">
                <img src="{{ item.image }}" alt="">
                <h4>{{ item.title }}</h4>
                <h5>por {{item.author}}</h5>
            </div>
    {% endfor %}
    </div>
    
</section>
{% endblock content %}
