div.about {
    width: 80vw;
    margin: auto;
    h2 {
        padding-top: 1rem;
    }
    p {
        font-size: 18px;
        color: #444444;
        line-height: 28px;
        padding-bottom: 1rem;
        padding-top: .5rem;
    }
}