@import './about', './main', './recipes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 2rem;
    img {
        padding-right:5rem;
        cursor: pointer;

    }
    ul {
        display: flex;
        li {
            padding: 0 3rem;
            list-style: none;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #444444;
            }
        }
    }
    
}


footer {
    height: 10vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #999999;
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .6);
    display: none;
    justify-content: center;
    align-items: center;
    .modalContent {
        background-color: #EEEEEE;
        width: 50vw;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            color: #111111;
            font-size: 18px;
            font-weight: 400;
            padding-top: 1rem;
            pointer-events: none;
        }
        h5 {
            color: #777777;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 1rem;
            pointer-events: none;

        }
        a {
            color: #999999;
            cursor: pointer;
        }
        img {
            width: 100%;
            border-radius: 15px;
            pointer-events: none;

        }
    }
}