<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 4-2</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Students</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="card">
            <div class="image">
            </div>
            <div class="details">
                <h2>Detalhes</h2>
                <div class="item">
                    <div>Nome Completo</div>
                    <div>Bruno Thomaz dos Santos</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>30</div>
                </div>
                <div class="item">
                    <div>Grau de Escolaridade</div>
                    <div>Superior</div>
                </div>
                <div class="item">
                    <div>Tipo de Aula</div>
                        <span>Presencial</span>
                        <span>EAD</span>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                        <span>Matemática</span>
                        <span>Física</span>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>29/06/2020</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>

</body>
</html>
