@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #e9e7e7;
    min-height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px -3px rgba(92, 8, 170, .8);
    ul {
        display: flex;
        padding:1rem;
        li {
            list-style: none;
            position: relative;
            a {
                text-decoration: none;
                color: #413f3f;
            }
        }
        li + li {
            margin-left: 4rem;
        }
        li::after {
            content: "";
            height: 2px;
            position: absolute;
            display: block;
            bottom: -2px;
            left: 50%;
            width: 0;
            background-color: rgb(92, 8, 170);
            transition: all 200ms ease-in;
        }
        li:hover::after {
            left: -5%;
            width: 110%;
        }
    }
}

main {
    .card {
        display: grid;
        grid-template-columns: 4fr 6fr;
        min-height: 48vh;
        width: 72vw;
        margin: auto;
        margin-top: 5rem;
        box-shadow: 2px 2px 5px -3px rgba(92, 8, 170, .8);
        animation: card 500ms forwards;
        .image {
            background: url(https://source.unsplash.com/collection/8491653/) no-repeat center center / cover;
        }
        .details {
            background-color: #e5beff;
            padding: 16px;
            h2 {
                color: rgb(39, 2, 73);

            }
            .item{
                border-top: 1px solid rgba(92, 8, 170, .4);
                padding: 16px 0;
                div:first-child {
                    font-size: 16px;
                    color: rgb(92, 8, 170);
                    text-transform: uppercase;
                    letter-spacing: .1em;
                }
            }
            .item:nth-child(2) {
                border:none;
            }
        }
    }
}
@keyframes card {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

footer {
    margin-top: 32px;
    min-height: 56px;
    background-color: #e9e7e7;
}